$h1: 3rem;
$h2: 2.5rem;
$h3: 2rem;
$h4: 1.5rem;
$h5: 1.25rem;
$h6: 1rem;

$t1: 2rem;
$t2: 1.5rem;
$t3: 1.25rem;
$t4: 1rem;
$t5: 0.875rem;
$t6: 0.75rem;

$i1: 2rem;
$i2: 1.5rem;
$i3: 1.25rem;
$i4: 1rem;
$i5: 0.875rem;
$i6: 0.75rem;

$font-family-heading: 'Poppins', sans-serif;
$font-family-text: $font-family-heading;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semiBold: 600;
$font-weight-bold: 700;

$padding: 0.75rem;
$margin: 0.75rem;

$z-index-dropdown: 1000;
$z-index-sticky: 1020;
$z-index-fixed: 1030;
$z-index-modal-backdrop: 1040;
$z-index-modal: 1050;
$z-index-popover: 1060;
$z-index-tooltip: 1070;